.version.index /* version checker */
{
	color: #0000E2;
	background-color: #E4E254;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 574px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu187
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u187,#u187-bw
{
	z-index: 2;
	min-height: 598px;
}

#u159
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 381px;
}

#u206
{
	z-index: 21;
	width: 219px;
	min-height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 120px;
}

#u303
{
	z-index: 22;
	width: 545px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 456px;
	left: 307px;
}

#u197-4
{
	z-index: 23;
	width: 491px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: roboto, sans-serif;
	font-weight: 700;
	margin-left: 20px;
	position: relative;
}

#u201-10
{
	z-index: 27;
	width: 545px;
	min-height: 81px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: roboto-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#u212
{
	z-index: 37;
	width: 219px;
	min-height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 218px;
}

#u217
{
	z-index: 38;
	width: 320px;
	min-height: 59px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 418px;
}

#u222
{
	z-index: 39;
	width: 209px;
	min-height: 60px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 381px;
	left: 218px;
}

#u244
{
	z-index: 40;
	width: 219px;
	min-height: 59px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 791px;
}

#u254
{
	z-index: 41;
	width: 219px;
	min-height: 59px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 303px;
	left: 120px;
}

#u278
{
	z-index: 42;
	width: 275px;
	min-height: 128px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 765px;
}

#u282
{
	z-index: 43;
	width: 275px;
	min-height: 129px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 120px;
}

#u306
{
	z-index: 44;
	width: 278px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 762px;
}

#u234
{
	z-index: 45;
	width: 146px;
	min-height: 38px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u249
{
	z-index: 46;
	width: 122px;
	min-height: 38px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 156px;
}

#u286-4
{
	z-index: 47;
	width: 131px;
	min-height: 38px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u309
{
	z-index: 51;
	width: 286px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 754px;
}

#u289-4
{
	z-index: 53;
	width: 197px;
	min-height: 38px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-left: 50px;
	position: relative;
}

#u286,#u289
{
	text-decoration: underline;
}

#pu239
{
	width: 0.01px;
	margin-top: -3px;
}

#u239
{
	z-index: 52;
	width: 141px;
	min-height: 59px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 28px;
	text-align: center;
	line-height: 34px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u292
{
	z-index: 57;
	width: 141px;
	min-height: 59px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 28px;
	text-align: center;
	line-height: 34px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#u228
{
	z-index: 3;
	min-height: 37px;
	padding-bottom: 14px;
}

#u228_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u300
{
	z-index: 4;
	width: 960px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 100px;
}

#u297-6
{
	z-index: 13;
	width: 395px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u231-8
{
	z-index: 5;
	width: 505px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 455px;
}

#u228-bw
{
	z-index: 3;
	min-height: 37px;
	margin-bottom: -36px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 35px;
}
html, body{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}

h1{
  text-align: center;
  padding: 20px 0;
}

h2{
	font-size: 30px;
	text-align: center;
	font-family: roboto, sans-serif;
	font-weight: 700;
	color: #272727;
}

h3{
	font-size: 20px;
	text-align: center;
	font-family: roboto, sans-serif;
	font-weight: 600;
	color: #272727;
}

.canvasbox {
  height: 700px;
  width: 100%;
  position: relative;
  display: block;
}

.container{
  display: block;
  height: auto;
  position: relative;
  left: 0px;
  right: 0px;
}

div{
  margin: 0;
  padding: 0;
}

.c1{
  display: block;
  text-align: center;
  background-color: #FFFFFF;
  padding-bottom: 30px;
  
}

.c2{
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  background-color: #ffffff;
  transform: scale(1);
  transition: 400ms;
  overflow:hidden;
  
}

.c2:hover img {
  -ms-transform: scale(1.008); /* IE 9 */
  -webkit-transform: scale(1.008); /* Safari 3-8 */
  transform: scale(1.008);
  transition: 400ms;
}

.c3{
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  background-color: #ffffff;  
}

.c3:hover img {
  -ms-transform: scale(1.008); /* IE 9 */
  -webkit-transform: scale(1.008); /* Safari 3-8 */
  transform: scale(1.008);
  transition: 400ms;
}

.c4{
  display: inline-block;
  float: left;
  width: 28%;
  text-align: center;
  border-radius: 20px;
  padding:60px 0;
  background-color: #EFEFEF;
}

.c4:hover img {
  -ms-transform: scale(1.008); /* IE 9 */
  -webkit-transform: scale(1.008); /* Safari 3-8 */
  transform: scale(1.008);
  transition: 400ms;
}

.c5{
  display: inline-block;
  float: left;
  width: 28%;
  text-align: center;
  padding: 60px 0;
  border-radius: 20px;
  background-color: #EFEFEF;  
}

.c5:hover img {
  -ms-transform: scale(1.008); /* IE 9 */
  -webkit-transform: scale(1.008); /* Safari 3-8 */
  transform: scale(1.008);
  transition: 400ms;
}

.c6{
  display: inline-block;
  float: left;
  width: 28%;
  text-align: center;
  padding: 60px 0;
  border-radius: 20px;
  background-color: #EFEFEF;  
}

.c6:hover img {
  -ms-transform: scale(1.008); /* IE 9 */
  -webkit-transform: scale(1.008); /* Safari 3-8 */
  transform: scale(1.008);
  transition: 400ms;
}

#center{
	justify-content:space-between;
}

.button {
  margin-top: 70px;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 14px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #272727;
  border: none;
  border-radius: 18px;
	
}

.button:hover {
background-color: #5b5b5b;
}

.button:active {
  background-color: #5b5b5b;
  transform: translateY(4px);
}


.verticalspacer
{
	margin-bottom: -15px;
	min-height: 1px;
}
