#u228
{
	background-color: #000000;
}

#u187,#u300
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u297-6
{
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: roboto, sans-serif;
	font-weight: 700;
}

#u231-8
{
	background-color: transparent;
	text-align: right;
	color: #FFFFFF;
	font-family: roboto, sans-serif;
	font-weight: 700;
}


