.version.index /* version checker */
{
	color: #0000F8;
	background-color: #51F095;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 590px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#pu352
{
	width: 0.01px;
	margin-right: -10000px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u352,#u352-bw
{
	z-index: 2;
	min-height: 620px;
}

#u504,#u504-bw
{
	z-index: 4;
	min-height: 842px;
}

#u369
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 93px;
}

#u372
{
	z-index: 22;
	width: 354px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 13px;
}

#u373-4
{
	z-index: 23;
	width: 319px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: roboto, sans-serif;
	font-weight: 700;
	margin-left: 24px;
	position: relative;
}

#u374-4
{
	z-index: 27;
	width: 354px;
	min-height: 81px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: roboto-condensed, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u380
{
	z-index: 31;
	width: 189px;
	min-height: 128px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 698px;
	left: 188px;
}

#u381
{
	z-index: 32;
	width: 189px;
	min-height: 118px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 698px;
	left: 5px;
}

#u509
{
	z-index: 33;
	width: 357px;
	min-height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 345px;
	left: 10px;
}

#u514
{
	z-index: 34;
	width: 166px;
	min-height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 398px;
}

#u515
{
	z-index: 35;
	width: 147px;
	min-height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 463px;
}

#u516
{
	z-index: 36;
	width: 143px;
	min-height: 60px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 603px;
	left: 2px;
}

#u517
{
	z-index: 37;
	width: 158px;
	min-height: 59px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 528px;
	left: 2px;
}

#u539
{
	z-index: 38;
	width: 212px;
	min-height: 59px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 605px;
	left: 155px;
}

#u540
{
	z-index: 39;
	width: 114px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 389px;
	left: 218px;
}

#pu541
{
	width: 0.01px;
}

#u541
{
	z-index: 40;
	width: 114px;
	min-height: 38px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u543-4
{
	z-index: 42;
	width: 102px;
	min-height: 38px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u542
{
	z-index: 41;
	width: 95px;
	min-height: 38px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	margin-left: 9px;
	margin-top: 7px;
	position: relative;
}

#u544
{
	z-index: 46;
	width: 216px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 504px;
	left: 158px;
}

#u545-4
{
	z-index: 48;
	width: 149px;
	min-height: 38px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-left: 38px;
	position: relative;
}

#u543,#u545
{
	text-decoration: underline;
}

#pu547
{
	width: 0.01px;
	margin-top: -3px;
}

#u547
{
	z-index: 47;
	width: 107px;
	min-height: 59px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u546
{
	z-index: 52;
	width: 107px;
	min-height: 59px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: diavlo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 109px;
}

#u353
{
	z-index: 3;
	min-height: 45px;
	padding-bottom: 3px;
}

#u576
{
	z-index: 5;
	width: 351px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 14px;
}

#u355-6
{
	z-index: 14;
	width: 145px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u356-8
{
	z-index: 6;
	width: 165px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#u353-bw
{
	z-index: 3;
	min-height: 45px;
	margin-top: 1px;
}

.html
{
	background-color: #ECF0F1;
}

body
{
	position: relative;
	min-width: 380px;
}

.verticalspacer
{
	min-height: 1px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

