#u353
{
	background-color: #000000;
}

#u352,#u504,#u576
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u355-6
{
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	font-family: roboto, sans-serif;
	font-weight: 700;
}

#u356-8
{
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: right;
	color: #FFFFFF;
	font-family: roboto, sans-serif;
	font-weight: 700;
}


